<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - BlisTimer</title>
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/BlisTimer.styles.css" asp-append-version="true" />
	@RenderSection("head", required: false)
</head>
<style>@RenderSection("style", required: false)</style>
<body>

<!-- 
Nav bar container that floats above the main page content container.
-->
<div id="nav-menu-wrapper">
	<nav>
		<ul>
			<li>
				<a href="">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
						<g>
							<g>
								<g>
									<path d="M276.193,58.507V40.389h14.578c11.153,0,20.194-9.042,20.194-20.194S301.923,0,290.771,0h-69.544     c-11.153,0-20.194,9.042-20.194,20.194s9.042,20.194,20.194,20.194h14.578v18.118C119.952,68.76,28.799,166.327,28.799,284.799     C28.799,410.078,130.721,512,256,512s227.201-101.922,227.201-227.201C483.2,166.327,392.046,68.76,276.193,58.507z      M276.193,470.516v-20.124c0-11.153-9.042-20.194-20.194-20.194c-11.153,0-20.194,9.042-20.194,20.194v20.124     c-86.91-9.385-156.137-78.614-165.522-165.522h20.124c11.153,0,20.194-9.042,20.194-20.194s-9.042-20.194-20.194-20.194H70.282     c9.385-86.91,78.614-156.137,165.522-165.523v20.124c0,11.153,9.042,20.194,20.194,20.194c11.153,0,20.194-9.042,20.194-20.194     V99.081c86.91,9.385,156.137,78.614,165.522,165.523h-20.124c-11.153,0-20.194,9.042-20.194,20.194s9.042,20.194,20.194,20.194     h20.126C432.331,391.903,363.103,461.132,276.193,470.516z"/>
									<path d="M317.248,194.99l-58.179,58.18c-1.011-0.097-2.034-0.151-3.071-0.151c-17.552,0-31.779,14.229-31.779,31.779     c0,17.552,14.228,31.779,31.779,31.779s31.779-14.229,31.779-31.779c0-1.037-0.054-2.06-0.151-3.07l58.178-58.18     c7.887-7.885,7.887-20.672,0-28.559C337.922,187.103,325.135,187.103,317.248,194.99z"/>
								</g>
							</g>
						</g>
					</svg>
					<span>Timer</span>
				</a>
			</li>
			<li>
				<a href="">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="default">
						<g>
							<g id="XMLID_50_">
								<g>
									<polygon style="fill:#FFFFFF;" points="480,110 480,480 110,480 110,425 280,425 280,147.5 202.5,70 110,70 110,10 380,10      380,110    "/>
									<polygon style="fill:#AFB6BB;" points="480,110 380,110 380,10    "/>
									<polygon style="fill:#E7ECED;" points="280,147.5 280,425 110,425 10,425 10,70 110,70 202.5,70 202.5,147.5    "/>
									<polygon style="fill:#AFB6BB;" points="280,147.5 202.5,147.5 202.5,70    "/>
								</g>
								<g>
									<path style="fill:#231F20;" d="M489.976,110c-0.001-2.602-0.993-5.158-2.905-7.071l-100-100c-1.913-1.912-4.47-2.903-7.071-2.904     V0H110c-5.523,0-10,4.477-10,10v50H10C4.477,60,0,64.478,0,70v355c0,5.522,4.477,10,10,10h90v45c0,5.522,4.477,10,10,10h370     c5.523,0,10-4.478,10-10V110H489.976z M390,34.143L455.858,100H390V34.143z M20,80h172.5v67.5c0,5.523,4.477,10,10,10H270V415H20     V80z M212.5,94.143l43.357,43.357H212.5V94.143z M120,470v-35h160c5.523,0,10-4.478,10-10V147.5c0-2.652-1.054-5.195-2.929-7.071     l-77.5-77.5C207.696,61.054,205.152,60,202.5,60H120V20h250v90c0,5.522,4.477,10,10,10h90v350H120z"/>
									<rect x="310" y="160" style="fill:#231F20;" width="130" height="20"/>
									<rect x="310" y="220" style="fill:#231F20;" width="130" height="20"/>
									<rect x="310" y="280" style="fill:#231F20;" width="130" height="20"/>
									<rect x="310" y="340" style="fill:#231F20;" width="130" height="20"/>
									<rect x="310" y="400" style="fill:#231F20;" width="130" height="20"/>
									<rect x="45" y="105" style="fill:#231F20;" width="65" height="20"/>
									<rect x="45" y="145" style="fill:#231F20;" width="65" height="20"/>
									<rect x="45" y="205" style="fill:#231F20;" width="200" height="20"/>
									<rect x="45" y="255" style="fill:#231F20;" width="200" height="20"/>
									<rect x="45" y="305" style="fill:#231F20;" width="200" height="20"/>
									<rect x="45" y="355" style="fill:#231F20;" width="200" height="20"/>
								</g>
							</g>
						</g>
					</svg>
					<span>Overview</span>
				</a>
			</li>
			<li>
				<a href="">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490.2 490.2" style="enable-background:new 0 0 490.2 490.2;" xml:space="preserve">
                    <g>
                    	<g>
                    		<g>
                    			<path d="M469.1,173.1h-37.5c-1-3.1-3.1-6.3-4.2-9.4l26.1-26.1c8.3-8.3,8.3-20.9,0-29.2l-71.9-71.9c-8.3-8.3-20.9-8.3-29.2,0     l-26.1,26.1c-3.1-2.1-6.3-3.1-9.4-4.2V20.9C316.9,9.4,307.5,0,296,0H193.9C182.4,0,173,9.4,173,20.9v37.5c-3.1,1-6.3,3.1-9.4,4.2     l-26.1-26.1c-8.3-8.3-20.9-8.3-29.2,0l-71.9,71.9c-4.2,4.2-6.3,9.4-6.3,14.6s2.1,10.4,6.3,14.6l26.1,26.1     c-2.1,3.1-3.1,6.3-4.2,9.4H20.9C9.4,173.1,0,182.5,0,194v102.2c0,11.5,9.4,20.9,20.9,20.9h37.5c1,3.1,3.1,6.3,4.2,9.4l-26.1,26.1     c-4.2,4.2-6.3,9.4-6.3,14.6s2.1,10.4,6.3,14.6l71.9,71.9c8.3,8.3,20.9,8.3,29.2,0l26.1-26.1c3.1,2.1,6.3,3.1,9.4,4.2v37.5     c0,11.5,9.4,20.9,20.9,20.9h102.2c11.5,0,20.9-9.4,20.9-20.9v-37.5c3.1-1,6.3-3.1,9.4-4.2l26.1,26.1c8.3,8.3,20.9,8.3,29.2,0     l71.9-71.9c8.3-8.3,8.3-20.9,0-29.2l-26.1-26.1c2.1-3.1,3.1-6.3,4.2-9.4h37.5c11.5,0,20.9-9.4,20.9-20.9V193.9     C490,182.4,480.6,173.1,469.1,173.1z M448.3,275.2H417c-9.4,0-16.7,6.3-19.8,14.6c-3.1,10.4-7.3,20.9-12.5,30.2     c-5.2,8.3-3.1,18.8,3.1,25l21.9,21.9L367,409.7l-21.9-21.9c-7.3-6.3-16.7-7.3-25-3.1c-9.4,5.2-19.8,9.4-30.2,12.5     c-8.3,2.1-14.6,10.4-14.6,19.8v31.3h-60.5l0,0V417c0-9.4-6.3-16.7-14.6-19.8c-10.4-3.1-20.9-7.3-30.2-12.5     c-8.3-5.2-18.8-3.1-25,3.1l-22,21.9L80.3,367l21.9-21.9c6.3-7.3,7.3-16.7,3.1-25c-5.2-9.4-9.4-19.8-12.5-30.2     c-2.1-8.3-10.4-14.6-19.8-14.6H41.7v-60.5H73c9.4,0,16.7-6.3,19.8-14.6c3.1-10.4,7.3-20.9,12.5-30.2c5.2-8.3,3.1-18.8-3.1-25     l-21.9-22L123,80.3l21.9,21.9c7.3,6.3,16.7,7.3,25,3.1c9.4-5.2,19.8-9.4,30.2-12.5c8.3-2.1,14.6-10.4,14.6-19.8V41.7h60.5V73     c0,9.4,6.3,16.7,14.6,19.8c10.4,3.1,20.9,7.3,30.2,12.5c8.3,5.2,18.8,3.1,25-3.1l22-21.9l42.7,42.7l-21.9,21.9     c-6.3,7.3-7.3,16.7-3.1,25c5.2,9.4,9.4,19.8,12.5,30.2c2.1,8.3,10.4,14.6,19.8,14.6h31.3L448.3,275.2L448.3,275.2z"/>
                    			<path d="M245,131.4c-62.6,0-113.6,51.1-113.6,113.6s51,113.6,113.6,113.6s113.6-51,113.6-113.6S307.6,131.4,245,131.4z      M245,316.9c-39.6,0-71.9-32.3-71.9-71.9s32.3-71.9,71.9-71.9s71.9,32.3,71.9,71.9S284.6,316.9,245,316.9z"/>
                    		</g>
                    	</g>
                    </g>
                    </svg>
					<span>Settings</span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "Login")" style="color: red">
					<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
						<circle cx="12" cy="7" r="5" stroke="black" stroke-width="2"/>
						<path d="M17 14H17.3517C18.8646 14 20.1408 15.1266 20.3285 16.6279L20.719 19.7519C20.8682 20.9456 19.9374 22 18.7344 22H5.26556C4.06257 22 3.1318 20.9456 3.28101 19.7519L3.67151 16.6279C3.85917 15.1266 5.13538 14 6.64835 14H7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</nav>
	<div id="hide-button">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
             <g id="🔍-System-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                 <g id="ic_fluent_slide_hide_24_regular" fill="#212121" fill-rule="nonzero">
                     <path d="M6.25,16.4952627 C6.62969577,16.4952627 6.94349096,16.7774166 6.99315338,17.1434922 L7,17.2452627 L7,18.25 C7,18.6296958 7.28215388,18.943491 7.64822944,18.9931534 L7.75,19 L8.25,19 C8.66421356,19 9,19.3357864 9,19.75 C9,20.1296958 8.71784612,20.443491 8.35177056,20.4931534 L8.25,20.5 L7.75,20.5 C6.55913601,20.5 5.58435508,19.5748384 5.50519081,18.4040488 L5.5,18.25 L5.5,17.2452627 C5.5,16.8310492 5.83578644,16.4952627 6.25,16.4952627 Z M21.25,16.4952627 C21.6642136,16.4952627 22,16.8310492 22,17.2452627 L22,18.25 C22,19.4926407 20.9926407,20.5 19.75,20.5 L18.7471014,20.5 C18.3328878,20.5 17.9971014,20.1642136 17.9971014,19.75 C17.9971014,19.3357864 18.3328878,19 18.7471014,19 L19.75,19 C20.1642136,19 20.5,18.6642136 20.5,18.25 L20.5,17.2452627 C20.5,16.8310492 20.8357864,16.4952627 21.25,16.4952627 Z M14.7528657,19 L16.2479722,19 C16.6621857,19 16.9979722,19.3357864 16.9979722,19.75 C16.9979722,20.1296958 16.7158183,20.443491 16.3497427,20.4931534 L16.2479722,20.5 L14.7528657,20.5 C14.3386521,20.5 14.0028657,20.1642136 14.0028657,19.75 C14.0028657,19.3703042 14.2850196,19.056509 14.6510951,19.0068466 L14.7528657,19 Z M10.7506521,19 L12.2463253,19 C12.6605389,19 12.9963253,19.3357864 12.9963253,19.75 C12.9963253,20.1296958 12.7141715,20.443491 12.3480959,20.4931534 L12.2463253,20.5 L10.7506521,20.5 C10.3364386,20.5 10.0006521,20.1642136 10.0006521,19.75 C10.0006521,19.3703042 10.282806,19.056509 10.6488816,19.0068466 L10.7506521,19 Z M16.5,3 C17.7426407,3 18.75,4.00735931 18.75,5.25 L18.75,5.5 L17.25,5.5 L17.25,5.25 C17.25,4.83578644 16.9142136,4.5 16.5,4.5 L4.25,4.5 C3.83578644,4.5 3.5,4.83578644 3.5,5.25 L3.5,14.75 C3.5,15.1642136 3.83578644,15.5 4.25,15.5 L4.5,15.5 L4.5,17 L4.25,17 C3.00735931,17 2,15.9926407 2,14.75 L2,5.25 C2,4.00735931 3.00735931,3 4.25,3 L16.5,3 Z M6.25,11.50077 C6.62969577,11.50077 6.94349096,11.7829239 6.99315338,12.1489994 L7,12.25077 L7,14.7452723 C7,15.1594859 6.66421356,15.4952723 6.25,15.4952723 C5.87030423,15.4952723 5.55650904,15.2131184 5.50684662,14.8470429 L5.5,14.7452723 L5.5,12.25077 C5.5,11.8365564 5.83578644,11.50077 6.25,11.50077 Z M21.25,11.50077 C21.6296958,11.50077 21.943491,11.7829239 21.9931534,12.1489994 L22,12.25077 L22,14.7452723 C22,15.1594859 21.6642136,15.4952723 21.25,15.4952723 C20.8703042,15.4952723 20.556509,15.2131184 20.5068466,14.8470429 L20.5,14.7452723 L20.5,12.25077 C20.5,11.8365564 20.8357864,11.50077 21.25,11.50077 Z M19.2541166,6.5 L19.75,6.5 C20.940864,6.5 21.9156449,7.42516159 21.9948092,8.59595119 L22,8.75 L22,9.75351492 C22,10.1677285 21.6642136,10.5035149 21.25,10.5035149 C20.8703042,10.5035149 20.556509,10.221361 20.5068466,9.85528548 L20.5,9.75351492 L20.5,8.75 C20.5,8.37030423 20.2178461,8.05650904 19.8517706,8.00684662 L19.75,8 L19.2541166,8 C18.839903,8 18.5041166,7.66421356 18.5041166,7.25 C18.5041166,6.87030423 18.7862704,6.55650904 19.152346,6.50684662 L19.2541166,6.5 Z M8.75281093,6.5 C9.1670245,6.5 9.50281093,6.83578644 9.50281093,7.25 C9.50281093,7.66421356 9.1670245,8 8.75281093,8 L7.75,8 C7.33578644,8 7,8.33578644 7,8.75 L7,9.75351492 C7,10.1677285 6.66421356,10.5035149 6.25,10.5035149 C5.83578644,10.5035149 5.5,10.1677285 5.5,9.75351492 L5.5,8.75 C5.5,7.50735931 6.50735931,6.5 7.75,6.5 L8.75281093,6.5 Z M15.2489861,6.5 L16.7519541,6.5 C17.1661677,6.5 17.5019541,6.83578644 17.5019541,7.25 C17.5019541,7.62969577 17.2198002,7.94349096 16.8537247,7.99315338 L16.7519541,8 L15.2489861,8 C14.8347725,8 14.4989861,7.66421356 14.4989861,7.25 C14.4989861,6.87030423 14.78114,6.55650904 15.1472155,6.50684662 L15.2489861,6.5 Z M11.25,6.5 L12.7450938,6.5 C13.1593074,6.5 13.4950938,6.83578644 13.4950938,7.25 C13.4950938,7.62969577 13.2129399,7.94349096 12.8468643,7.99315338 L12.7450938,8 L11.25,8 C10.8357864,8 10.5,7.66421356 10.5,7.25 C10.5,6.87030423 10.7821539,6.55650904 11.1482294,6.50684662 L11.25,6.5 Z" id="🎨-Color"/>
                 </g>
             </g>
         </svg>
	</div>
</div>

<!-- Main page content container that contains the view's content -->
<main>
	@RenderBody()
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
<script>
	navbar = document.getElementById("nav-menu-wrapper");
	hideButton = document.getElementById("hide-button");
	
	hideButton.addEventListener("click", function() {
		navbar.classList.toggle("hide");
		hideButton.classList.toggle("hide");
	});
</script>
</body>
</html>
