@model List<BlisTimer.Models.TimeLog>

@{

}

<div class="main">
    <h1>Time overview</h1>
    <hr>
    
    <table>
        <tr id="header">
            <th>Project</th>
            <th>Activity</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>HourType</th>
            <th>Handle</th>
        </tr>

        @foreach (var timelog in Model)
        {
            <tr>
                <td>@timelog.Activity.Project.Name</td>
                <td>@timelog.Activity.Name</td>
                <td>@timelog.StartTime</td>
                <td>@timelog.EndTime</td>
                <td>@timelog.HourType.Label</td>
                <td>
                    <a class="rounded bg-warning p-2" asp-controller="TimeLog" asp-action="Edit" asp-route-id="@timelog.Id">Edit</a>
                </td>
            </tr>
        }
    </table>
</div>

