@model SelectProject

@{
  ViewData["Title"] = "Stopwatch Page";
  Layout = "_HomeLayout";
}

@section head{
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
}
@section scripts {
  <script type="text/javascript">
    // Globals
    const time_el = document.querySelector('.watch .time');
    const startButton = document.getElementById("start");
    const stopButton = document.getElementById("stop");
    const pauseButton = document.getElementById("pause");

    let seconds = 0;
    let interval = null;

    // Event Listeners
    startButton.addEventListener('click', start);
    stopButton.addEventListener('click', stop);
    pauseButton.addEventListener('click', pause);


    // Timer updates
    function timer() {
      seconds++;

      //Format the time 
      let hrs = Math.floor(seconds / 3600);
      let mins = Math.floor((seconds - (hrs * 3600)) / 60);
      let secs = seconds % 60;

      if (secs < 10) secs = "0" + secs;
      if (mins < 10) mins = "0" + mins;
      if (hrs < 10) hrs = "0" + hrs;

      time_el.innerText = `${hrs}:${mins}:${secs}`;	
    }
    
    //start button
    function start() {
      if (interval) {
        return;
      }

      interval = setInterval(timer, 1000);
    }

    //pause button
    function pause() {
      clearInterval(interval);
      interval = null;
}

    //stop button
    function stop() {
      if(seconds > 0){
        clearInterval(interval);
        interval = null;
    
        openPopup();
      }
    }

    //confirm button
    function confirm() {
      closePopup();
      seconds = 0;
      time_el.innerText = "00:00:00";
    }

    //cancel button
    function cancel() {
      closePopup();
      start();
    }


    //Popup message
    let popup = document.getElementById("popup");

    function openPopup() {
      popup.classList.add("open-popup");
    }

    function closePopup() {
      popup.classList.remove("open-popup");
    }
    
    function submitId(){
        let p = document.getElementById("project");
        console.log(p)
        document.forms[0].Id.value = p.value 
        document.forms[0].submit()
    }
    
    </script>

}


<div id="screen">
  <div class="watch">
    <div class="task">
      <form method="post" id="projects" asp-action="Index" asp-controller="Timer">
            <input type="hidden" name="Id" value="blabla">
            <select name="Project" id="project" onchange="submitId()">
              @if (@ViewBag.preSelectedProject)
              {
                <option selected disabled hidden>Select a Project</option>
                @foreach (var project in @Model.ProjectDictionary)
                {
                  <option value="@project.Key.Id">@project.Key.Name</option>
                }
              }
              @if (!@ViewBag.preSelectedProject)
              {
                <option value="@Model.ProjectDictionary.Keys.First().Id">@Model.ProjectDictionary.Keys.First().Name</option>
              }
            </select>
        </form>
      
      <br/>Activity
    </div>

    <div class="time">
      00:00:00
    </div>

    <div class="controls">
      <button id="start">Start</button>
      <button id="stop">Stop</button>
    </div>

    <div class="controls">
      <button id="pause">Take a break</button>
    </div>

    <div class="popup" id="popup">
      <h2>Project > Current Task</h2>
      <p>Please confirm you have worked (Time) on this task.</p>
      <button type="button" class="btn" onclick="confirm()">Confirm</button>
      <button type="button" class="btn" onclick="cancel()">Cancel</button>
    </div>
  </div>
</div>
