@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using System.Security.Cryptography
@model Dictionary<Tuple<BlisTimer.Models.Project, bool>, List<WorkActivity>>

@{
  ViewData["Title"] = "Stopwatch Page";
  Layout = "_HomeLayout";
}

@section head{
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
}
@section scripts {
  <script type="text/javascript">
    // Globals
    const time_el = document.querySelector('.watch .time');
    const startButton = document.getElementById("start");
    const stopButton = document.getElementById("stop");
    const pauseButton = document.getElementById("pause");
    const projectDropdown = document.getElementById("project")
    const activityDropdown = document.getElementById("activity")
    const hourtypeDropdown = document.getElementById("hourtype")
    const options = document.getElementsByTagName("option");
    
    let interval = null;
    let seconds = @ViewBag.Time;
    if (@ViewBag.RunningTimer === true){
        start();
    }

    // Event Listeners
    
    startButton.addEventListener('click', start);
    
    stopButton.addEventListener('click', stop);
    pauseButton.addEventListener('click', pause);


    // Timer updates
    function timer() {
      seconds++;

      //Format the time 
      let hrs = Math.floor(seconds / 3600);
      let mins = Math.floor((seconds - (hrs * 3600)) / 60);
      let secs = seconds % 60;
      
      if (secs < 10) secs = "0" + secs;
      if (mins < 10) mins = "0" + mins;
      if (hrs < 10) hrs = "0" + hrs;
      
      time_el.innerText = `${hrs}:${mins}:${secs}`;	
        
    }
    
      
 
    //start button
    function start() {
      if (interval) {
        return;
      }
      
      
      console.log(typeof @ViewBag.RunningTimer);
      interval = setInterval(timer, 1000);
      if (@ViewBag.RunningTimer === false){ 
        $.ajax({
          type: "POST",
          url: "/TimeLog/AddRunningTimer",
            data: "{}",
            success: function (result) {
              console.log("Added timer with code " + result)
            }
        })
      }
        
      
      startButton.style.opacity = 0.3;
      startButton.style.cursor = "not-allowed";
      
      hourtypeDropdown.style.opacity = 0.3;
      hourtypeDropdown.disabled = true;
      
      projectDropdown.style.opacity = 0.3;
      projectDropdown.disabled = true;
      
      activityDropdown.style.opacity = 0.3;
      activityDropdown.disabled = true;
      
      pauseButton.style.opacity = 1;
      pauseButton.style.cursor = "pointer";
      
      stopButton.style.opacity = 1;
      stopButton.style.cursor = "pointer";
    }

    //pause button
    function pause() {
      clearInterval(interval);
      interval = null;
      
      
      startButton.style.opacity = 1;
      startButton.style.cursor = "pointer";
      
      pauseButton.style.opacity = 0.3;
      pauseButton.style.cursor = "not-allowed";
      
    }

    //stop button
    function stop() {
      if(seconds > 0){
        clearInterval(interval);
        interval = null;
    
        openPopup();
      }
    }

    //confirm button
    function confirm() {
      closePopup();
      seconds = 0;
      time_el.innerText = "00:00:00";
      
      $.ajax({
        type: "POST",
        url: "/TimeLog/SumbitTimelog",
          data: "{}",
          success: function (result) {
            console.log("Saved time to database with response: " + result)
          }
      })
      
      startButton.style.opacity = 1;
      startButton.style.cursor = "pointer";
      
      projectDropdown.style.opacity = 1;
      projectDropdown.disabled = false;
      
      activityDropdown.style.opacity = 1;
      activityDropdown.disabled = false;
      
      hourtypeDropdown.style.opacity = 1;
      hourtypeDropdown.disabled = false;
      
      pauseButton.style.opacity = 0.3;
      pauseButton.style.cursor = "not-allowed";
      
      stopButton.style.opacity = 0.3;
      stopButton.style.cursor = "not-allowed";
    }

    //cancel button
    function cancel() {
      closePopup();
      start();
    }


    //Popup message
    let popup = document.getElementById("popup");

    function openPopup() {
      popup.classList.add("open-popup");
    }

    function closePopup() {
      popup.classList.remove("open-popup");
    }
    
    function submitProjectId(){
        let p = document.getElementById("project");
        console.log(p);
        document.forms[0].Id.value = p.value;
        document.forms[0].submit();
    }
    function submitActivityId(){
        let p = document.getElementById("activity");
        console.log(p);
        document.forms[1].Id.value = p.value;
        document.forms[1].submit();
    }
    function submitHourTypeId(){
        let p = document.getElementById("hourtype");
        console.log(p);
        document.forms[2].Id.value = p.value;
        document.forms[2].submit();
    }
    </script>

}


<div id="screen" >
  <div class="watch">
    <div class="task">
      <form method="post" id="projects" asp-action="Index" asp-controller="Timer">
        <input type="hidden" name="Id" value="givenProject">
        <select name="Project" id="project" onchange="submitProjectId()">
          @if (!@ViewBag.preSelectedProject)
          {
            <option selected disabled hidden>Select a Project</option>
            @foreach (var project in @Model)
            {
              <option value="@project.Key.Item1.Id">@project.Key.Item1.Name</option>
            }
          }
          @if (@ViewBag.PreSelectedProject)
          {
            @foreach (var Selectedproject in @Model)
            {
              if (Selectedproject.Key.Item2 == true)
              {
                <option value="@Selectedproject.Key.Item1.Id">@Selectedproject.Key.Item1.Name</option>
              }
            }
            @foreach (var project in @Model)
            {
              if (project.Key.Item2 == false)
              {
                <option value="@project.Key.Item1.Id">@project.Key.Item1.Name</option>
              }
            }
          }
        </select>
      </form>
      @if (@ViewBag.PreSelectedProject)
      {
        <form method="post" id="activitys" asp-action="Index2" asp-controller="Timer">
          <input type="hidden" name="Id" value="givenActivity">
          <select name="Activity" id="activity" onchange="submitActivityId()">
            @if (!@ViewBag.PreSelectedActivity)
            {
              <option selected disabled hidden>Select an Activity</option>
              @foreach (var Selectedproject in @Model)
              {
                if (Selectedproject.Key.Item2 == true)
                {
                  foreach (var activity in Selectedproject.Value)
                  {
                    <option value="@activity.Id">@activity.Name</option>
                  }
                }
              }


            }
            @if (@ViewBag.PreSelectedActivity)
            {
              @foreach (var Selectedproject in @Model)
              {
                if (Selectedproject.Key.Item2 == true)
                {

                  <option value="@ViewBag.PreSelectedActivityId">@ViewBag.PreSelectedActivityName</option>
                  foreach (var activity in Selectedproject.Value)
                  {
                    if (activity.Id != @ViewBag.PreSelectedActivityId)
                    {
                      <option value="@activity.Id">@activity.Name</option>
                    }
                  }
                }
              }
            }
          </select>
        </form>
        @if (@ViewBag.PreSelectedActivity)
        {
          <form method="post" id="hourtypes" asp-action="Index3" asp-controller="Timer">
            <input type="hidden" name="Id" value="givenHourType">
            <select name="HourType" id="hourtype" onchange="submitHourTypeId()">
              @if (!@ViewBag.PreSelectedHourType)
              {
                <option selected disabled hidden>Select an HourType</option>
                @foreach (var hourtype in @ViewBag.PreSelectedHourTypeList)
                {
                  <option value="@hourtype.HourTypeId">@hourtype.Label</option>
                } 
              }
              @if (@ViewBag.PreSelectedHourType)
              {
                @foreach (var hourtype in @ViewBag.PreSelectedHourTypeList)
                {
                  if (@ViewBag.PreSelectedHourTypeId == hourtype.HourTypeId)
                  {
                    <option value="@hourtype.HourTypeId">@hourtype.Label</option>
                  }
                } 
                @foreach (var hourtype in @ViewBag.PreSelectedHourTypeList)
                {
                  if (@ViewBag.PreSelectedHourTypeId != hourtype.HourTypeId)
                  {
                    <option value="@hourtype.HourTypeId">@hourtype.Label</option>
                  }
                } 
              }
            </select>
          </form>
        }
      }
    </div>

    <div class="time">
      @if (ViewBag.RunningTimer == "true"){
          
           string hrs = (ViewBag.Time / 3600).ToString();
           string mins = (((ViewBag.Time - (Int32.Parse(hrs) * 3600))) / 60).ToString();
           string secs = (ViewBag.Time % 60).ToString();
        
          if (Int32.Parse(secs) < 10) secs = "0" + secs;
          if (Int32.Parse(mins) < 10) mins = "0" + mins;
          if (Int32.Parse(hrs) < 10) hrs = "0" + hrs;
          <p>@hrs:@mins:@secs</p>;
      }
      else
      {
        <p>00:00:00</p>
      }
    
    <div class="clock">
      <div class="time">
        00:00:00
      </div>
    </div>
   
    <div class="controls-container">
      <div class="controls">
        @if (!@String.IsNullOrEmpty(ViewBag.PreSelectedHourTypeId))
        {
          <button id="start">Start</button>
        }
        else
        {
          <button id="start-disabled">Start</button>
        }
        <button id="stop">Stop</button>
      </div>

      <div class="controls">
        <button id="pause">Take a break</button>
      </div>
    </div>

    <div class="popup" id="popup">
      <h2>@ViewBag.PreSelectedProjectName > @ViewBag.PreSelectedActivityName > @ViewBag.PreSelectedHourTypeName</h2>
      <p>Please confirm you have worked (Time) on this task.</p>
      <button type="button" class="btn" onclick="confirm()">Confirm</button>
      <button type="button" class="btn" onclick="cancel()">Cancel</button>
    </div>
  </div>
</div>
